*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 85%);
  font-family: system-ui;
}

.wrapper {
  padding: 1rem;
}
@media (min-width: 768px) {
  .wrapper {
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.color-container {
  width: 100%;
  height: 6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.33);
}
@media (min-width: 768px) {
  .color-container {
    height: 100%;
    padding-bottom: 6rem;
    align-items: flex-end;
  }
}
.color-container:nth-child(1) {
  background-color: hsl(22, 52%, 12%);
}
.color-container:nth-child(2) {
  background-color: hsl(22, 20%, 22%);
}
.color-container:nth-child(3) {
  background-color: hsl(195, 8%, 28%);
}
.color-container:nth-child(4) {
  background-color: hsl(186, 5%, 40%);
}
.color-container:nth-child(5) {
  background-color: hsl(98, 36%, 47%);
}

/*# sourceMappingURL=styles.css.map */
