$base-font: system-ui;
$color-light: hsl(0, 0%, 100%);
$color-background: hsl(0, 0%, 85%);
$color-1: hsl(22, 52%, 12%);
$color-2: hsl(22, 20%, 22%);
$color-3: hsl(195, 8%, 28%);
$color-4: hsl(186, 5%, 40%);
$color-5: hsl(98, 36%, 47%);
$bk-tablet: 768px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  font-family: $base-font;
}

.wrapper {
  padding: 1rem;

  @media (min-width: $bk-tablet) {
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.color-container {
  width: 100%;
  height: 6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 800;
  color: rgba($color-light, 0.33);
  @media (min-width: $bk-tablet) {
    height: 100%;
    padding-bottom: 6rem;
    align-items: flex-end;
  }
  &:nth-child(1) {
    background-color: $color-1;
  }
  &:nth-child(2) {
    background-color: $color-2;
  }
  &:nth-child(3) {
    background-color: $color-3;
  }
  &:nth-child(4) {
    background-color: $color-4;
  }
  &:nth-child(5) {
    background-color: $color-5;
  }
}
